@media (max-width:1125px) {
  input {
    width: 250px;
  }
  button {
    width: 250px;
  }
  h1 {
    margin-left: 120px;
  }
  h6 {
    margin-left: 120px;
  }
}
@media (max-width:1105px) {
  textarea {
  width: 500px;
  }
}
@media (max-width:860px) {
  textarea {
    width: 400px;
  }
  h1 {
    font-size: 30px;
  }
}
@media (max-width:750px) {
  textarea {
    width: 300px;
  }
  input {
    width: 200px;
  }
  button {
    width: 200px;
  }
}
@media (max-width:750px) {
  h1 {
    font-size: 20px;
  }
  textarea {
    width: 200px;
    height: 200px;
  }
  input {
    width: 100px;
    height: 40px;
  }
  button {
    width: 100px;
    height: 40px;
  }
  .input-text {
    margin-bottom: 10px;
  }
}
/* @media (max-width:750px){
  h6 {
        font-size: 12px;
  }
  h1 {
    font-size: 15px;
  }
  textarea {
    width: 150px;
    height: 110px;
  }
  button {
    width: 70px;
    height: 20px;
  }
  input {
    width: 70px;
    height: 20px;
  }
  .input-text {
    margin-bottom: 1px;
  }
} */
