h6 {
  color: #5863F8;
  margin-top: 88px;
  margin-left: 139px;
  size:14px;
}
h1 {
  font-size: 42px;
  margin-bottom: 50px;
  margin-left: 139px;
}
button {
  width:352px;
  height: 60px;
  background-color: : #5863F8;
}
.flex-container {
  display: flex;
}
input {
  width: 352px;
  height: 60px;
}

.flex-container > div {
  margin: 16px;
}

textarea {
 width: 720px;
  height: 288px;
  margin-left: 130px;
}
.input-text {
  margin-bottom: 16px;
  margin-right: 139px;
}
